/.DS_Store
/__pycache__
/main.ipynb
/公共小组项目背景介绍.pdf
/data/attention_masks.pt.data
/data/input_ids.pt.data
data/tfidf_matrix.pkl
data/ml-eval-data.txt
output/roc_curve.png
output/svc.pkl
output/lr.pkl
output/ml-train-log.txt

output/svm.pkl
